

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a class="btn btn-primary" [routerLink]="['/customers','add']">Add customer</a>
      <p></p>
      <input type="text" class="form-control" [(ngModel)]="filter" placeholder="Search" [(ngModel)]="searchCustomer">
      <hr>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let c of customers | customersPipe:searchCustomer">
          <span> <a [routerLink]="['/customers', c.id]">{{c.name}} ({{c.id}})</a></span>
        </li>
      </ul>
    </div>
  </div>
</div>



